div.reviewContainer {
    border-top: thick solid lightgray;
    margin-top: 30px;

}

.reviewRunner {

    display: flex;
    flex-direction: column;
    width: 800px;
    justify-content: space-between;
}

.starRating {
    margin-left: 5px;
}

.textmark {
    font-family: 'DM Sans', sans-serif;
}

.colormark {
    color: #1bcdd0
}

.reviewText {
    width: 400px;
    display: inline
}

.empty {
    color: #529394
}

.rating-input {
    display: flex;
}

.singleReview {
    border: 1px solid #1bcdd0;
    margin: 5px;
    padding: 5px 15px;
    width:fit-content;
}

.userReview {
    margin: 20px 0px 5px 20px;
}

.singleReview:hover {
    border: thick solid #1bcdd0;
}
