.thumbnail {
    width: 120px;
}
.thumbnailContainer {
    margin-right: 10px;
    cursor: pointer;
}

div.cell {
    display: block;
    width: 120px;
    margin: 10px;
}

.singleStayContainer {
    display: flex;
    max-height: 150px;
    padding: 10px;
}

.bookingInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10px;
    height: 120px;
    justify-content: center;
}

.singleBookingContainer {
    display: flex
}

.grayBG {
    background-color: aliceblue;
}

.mainBookingDiv {
    margin-left: 10px;
}

.mainBookingDiv > div {
    margin-left: 20px;
}

.bookingContentDiv {
    margin-left: 30px;
}
